*{
	padding: 0px;
	margin: 0px;
}

body{
	color: #404040;
	background: #fff;
}

#login{
	height: auto !important;
}

#login #content{
	position: relative;
	width: 350px;
	padding: 0px;
	margin: auto;
	color: #6c6c6c;
	background: #fff;
}

#login #content .bd{
	padding: 25px 26px 20px;
	margin: 0px;
}

#login #content .bd .login-title{
	margin-top: 15px;
	padding-bottom: 0;
	height: 18px;
	line-height: 18px;
	font-size: 16px;
	color: #3c3c3c;
	font-weight: 700;
}

#login #content .bd .login-form .login-style{
	position: relative;
	margin-top: 25px;
	width: 298px;
	height: 40px;
	border: 1px solid rgb(203,203,203);
}

#login #content .bd .login-form .login-style label{
	color: #606060;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #ddd;
	text-align: center;
	position: absolute;
	left: 0px;
	top: 0px;
	outline: 0;
}

#login #content .bd .login-form .login-style .input-style{
	position: absolute;
	top: 10px;
	left: 50px;
	font-size: 14px;
	width: 200px;
	border: none;
}





